<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxkj.function.tp.mapper.UserLogMapper">
  <resultMap id="BaseResultMap" type="com.yxkj.function.tp.Entity.UserLog">
    <id column="log_id" jdbcType="BIGINT" property="log_id" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="log_time" jdbcType="TIMESTAMP" property="log_time" />
  </resultMap>
  <sql id="Base_Column_List">
    log_id, ip, log_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tp3_user_log
    where log_id = #{log_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tp3_user_log
    where log_id = #{log_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yxkj.function.tp.Entity.UserLog">
    insert into tp3_user_log (log_id, ip, log_time
      )
    values (#{log_id,jdbcType=BIGINT}, #{ip,jdbcType=VARCHAR}, #{log_time,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yxkj.function.tp.Entity.UserLog">
    insert into tp3_user_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="log_id != null">
        log_id,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="log_time != null">
        log_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="log_id != null">
        #{log_id,jdbcType=BIGINT},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="log_time != null">
        #{log_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxkj.function.tp.Entity.UserLog">
    update tp3_user_log
    <set>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="log_time != null">
        log_time = #{log_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where log_id = #{log_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxkj.function.tp.Entity.UserLog">
    update tp3_user_log
    set ip = #{ip,jdbcType=VARCHAR},
      log_time = #{log_time,jdbcType=TIMESTAMP}
    where log_id = #{log_id,jdbcType=BIGINT}
  </update>
</mapper>