<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yxkj.function.tp.mapper.EnsureInsuraceRelationMapper">
  <resultMap id="BaseResultMap" type="com.yxkj.function.tp.Entity.EnsureInsuraceRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ensure_name" jdbcType="VARCHAR" property="ensure_name" />
    <result column="insurance_name" jdbcType="VARCHAR" property="insurance_name" />
    <result column="money" jdbcType="INTEGER" property="money" />
    <result column="updateNo" jdbcType="TIMESTAMP" property="updateNo" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="project_name" jdbcType="VARCHAR" property="project_name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ensure_name, insurance_name, money, updateNo, createTime, project_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tp3_ensure_insurace_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tp3_ensure_insurace_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yxkj.function.tp.Entity.EnsureInsuraceRelation">
    insert into tp3_ensure_insurace_relation (id, ensure_name, insurance_name, 
      money, updateNo, createTime, 
      project_name)
    values (#{id,jdbcType=INTEGER}, #{ensure_name,jdbcType=VARCHAR}, #{insurance_name,jdbcType=VARCHAR}, 
      #{money,jdbcType=INTEGER}, #{updateNo,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{project_name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yxkj.function.tp.Entity.EnsureInsuraceRelation">
    insert into tp3_ensure_insurace_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ensure_name != null">
        ensure_name,
      </if>
      <if test="insurance_name != null">
        insurance_name,
      </if>
      <if test="money != null">
        money,
      </if>
      <if test="updateNo != null">
        updateNo,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="project_name != null">
        project_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ensure_name != null">
        #{ensure_name,jdbcType=VARCHAR},
      </if>
      <if test="insurance_name != null">
        #{insurance_name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        #{money,jdbcType=INTEGER},
      </if>
      <if test="updateNo != null">
        #{updateNo,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="project_name != null">
        #{project_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yxkj.function.tp.Entity.EnsureInsuraceRelation">
    update tp3_ensure_insurace_relation
    <set>
      <if test="ensure_name != null">
        ensure_name = #{ensure_name,jdbcType=VARCHAR},
      </if>
      <if test="insurance_name != null">
        insurance_name = #{insurance_name,jdbcType=VARCHAR},
      </if>
      <if test="money != null">
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="updateNo != null">
        updateNo = #{updateNo,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="project_name != null">
        project_name = #{project_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yxkj.function.tp.Entity.EnsureInsuraceRelation">
    update tp3_ensure_insurace_relation
    set ensure_name = #{ensure_name,jdbcType=VARCHAR},
      insurance_name = #{insurance_name,jdbcType=VARCHAR},
      money = #{money,jdbcType=INTEGER},
      updateNo = #{updateNo,jdbcType=TIMESTAMP},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      project_name = #{project_name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>