
body{
	background: #f4f4f4;
}
.icon{
	background: url(../images/icon.png) no-repeat;
	display: inline-block;
}
.username_tb{
	width: 23px;
	height: 22px;
	background-position: 0 -15px;
	position: absolute;
	top: 13px;
	right: 20px;
}
.password_tb{
	width: 20px;
	height: 20px;
	background-position: 0 -38px;
	position: absolute;
	top: 16px;
	right: 20px;
}
.login_box{
	width: 320px;
	height: 100%;
	padding: 50px 40px;
	background: #212427;
	position: fixed;
	top: 0;
	right: 0;
	border-radius: 5px;
}
.registered_box{
	right: 401px;
}
.login_colse{
	position: absolute;
	right: 10px;
	top: 10px;

}
.login_logo{
	height: 75px;
	font-size: 40px;
	color: #979696;
	font-weight: 700;
	line-height: 75px;
}
.login_input{
	position: relative;
	height: 65px;
	overflow: hidden;
}
.login_input input{
	width: 305px;
	height: 50px;
	padding-left: 15px;
	line-height: 50px;
	font-size: 22px;
	background: #3e424b;
	color: #979696;
	border:none;
	border-radius:3px;
}
.login_input button,.registered_input button{	
	width: 100%;
	text-align: center;	
	color: #fff;
	background: #3499da;	
	border-radius: 3px;
}
.login_input button{
	height: 50px;
	font-size: 30px;
}
.registered_input button{
	height: 50px;
	font-size: 26px;
}
.registered_input{
	line-height: 40px;
	margin-top: 40px;
}
.registered_input span{
	display: inline-block;
	width: 85px;
	height: 40px;
	color: #979696;
	font-size: 16px;
	text-align: right;
}
.registered_input input{
	width: 220px;
	height: 40px;
	padding-left: 10px;
	background: #3e424b;
	color: #fff;
	border:none;
	border-radius:3px;
}